body {
    background-color: #F3EFEF;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	background-color: #F3EFEF;
	color: #3D2F2F;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.logo {
    display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
    width: 15%;
}

.logo .Cultura{
    color:#D2A754
}

h1 {
    font-family: Croissant One;
	font-size: 30px;
	margin: 0;

}

h2{
    font-family: Croissant One;
    font-size: 29px;
	margin: 0; 
    padding: 20px;
}
h3{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 19px;
	margin: 0; 
    padding: 20px;
    font-style:georgia;
    color: #846046
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 10px;
    border-radius: 10%;
    background-color: #846046;
    border-color: #846046;
   

  }
  .btn {
    background-color: #D9D9D9;
    color: #000;
  }
  .btn-clicked {
    background-color: #846046;
    color: #000;
  }
  
  .btn-clicked {
    background-color: #dc3545;
    color: #fff;
}

 
/* Barra de pesquisa */
form {
    display: flex;
	align-items: center;
	justify-content: center;
  }

.barra-pes {
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
  
  input[type="text"] {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  button[type="submit"] {
    background: white;
    border: none;
    font-size: 1.2em;
    color: #ccc;
    margin-left: -50px;
    cursor: pointer;
  }

  /* .search-container .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 20px;
    color: #999;
  } */
  
  /* Botões de Categorias */
.container .btn-group-vertical {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;

}

.container .btn-group-vertical button{
    border-radius: 30px;
}

.btn-group-vertical button:hover {
    background-color: rgb(192, 159, 119);
    transition: 1s;
    cursor: pointer;
    
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
  }
  
  .menu ul {
    margin: 10px;
    max-width: 90%;
    padding-inline-start: 0px;
  }

  .menu .menu-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    /* margin: 0; */
    /* padding: 0; */
    flex-direction: row;
    align-content: center;
    align-items: center;
    max-width: 90%;
  }

  
  .menu .menu-list ul li {
    margin: 10px;
    max-width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
  }
  
  .menu .menu-list ul li img {
    max-width: 90%;
    cursor: pointer;
  }

/* Menu do rodapé */
.footer-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
  }
  
  .footer-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
  }
  
  .footer-menu ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #76767c;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
  }

  .footer-menu ul li:hover {
    color: burlywood;
    border-top-style:dotted;
    transition: 1s;
  }

  .footer-menu ul li:active {
    color: burlywood;
    border-top-style:dotted;
  }
  
  .footer-menu ul li a {
    color: #76767c;
    text-decoration: none;
    font-size: 0.7em;
  }
  


  @media only screen and (max-width: 600px) {
    .menu-list {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  
@media screen and (min-width: 768px) {
	header {
        display: flex;
        align-items: center;
        justify-content: center;
	}
	h1 {
		margin-right: auto;
		margin-left: auto;
        color: #3D2F2F
    }

    header img {
        width: 7%;
        margin-right: auto;
		margin-left: auto;
    }

    input[type="text"] {
        padding: 15px;
        border: 2px solid #ccc;
        border-radius: 30px;
        padding: 10px;
        width: 300px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      }
      
      button[type="submit"] {
        background: white;
        border: none;
        font-size: 1.2em;
        color: #ccc;
        margin-left: -50px;
        cursor: pointer;
      }
      h3{
        font-family:Arial, Helvetica, sans-serif;
        font-size: 19px;
        margin: 0; 
        padding: 20px;
        font-style: georgia;
        color: #846046
    }

    h2{
        color:#3D2F2F
    }
}
