@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
:root{
    --main-color:rgb(13, 13, 12);
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover: .2rem dashed var(--main-color);
}



*{
font-family: 'Poppins', sans-serif;
margin:0;
padding:0;
box-sizing: border-box;
outline:none;
border:none;
text-decoration:none;
text-transform: capitalize;
transition: all .2s linear;
 
}

html{
font-size: 62.5%;
overflow-x:hidden;
scroll-padding-top: 7rem;
scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}


.btn{
display: inline-block;
padding:.9rem 1.5rem;
border-radius:var(--border-radius);
color:var(--main-color);
background:none;
border:var(--border);
cursor:pointer;
margin-top:1rem;
font-size:1.7rem;

}
.btn:hover{
    border-radius:var(--border-radius-hover);
    border:var(--border-hover);
     
}


.header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    z-index:100;
    background:#fff;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    padding:2rem 9%;

}

.header .logo {
    color:var(--main-color);
    font-size:2.3rem;
}

.header.logo i{
    padding-left: .5rem;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.7rem; 
    color:var(--main-color);


}

.header .btn{
    margin: top 0;


}
#menu-btn{
    font-size:3rem;
    color:var(--main-color);
    cursor: pointer;
    display:none;

}

.home{
    min-height: 100vh;
    padding-top: 12rem;
    background:url(papel-digital-bege-pintado-a-mao-em-aquarela-sepia_199112-398.avif) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
   }

    .home .row .content{
     flex:1 1 42rem;

    }

    .home .row .image{
        flex:1 1 42rem;
        padding-top: 10rem;
        text-align: center;
}
.home .row .image img{
    height:35rem;
    animation: float 4s linear infinite;

}

@keyframes float{
0%, 100%{
    transform: translateY(0rem);
}
50%{
    transform: translateY(-7rem);
}

}
.home .row .content h3{
    font-size: 6.5rem;
    color:var(--main-color);
    text-transform:uppercase;

}


/* media queries */

@media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding:2rem;
    }
    section{
        padding:2rem; 
    }
}
    @media(max-width:768px){
    
         
        #menu-btn{
            display:initial;
        }

        #menu-btn.fa.times{
            transform:rotate(180deg);
        }

        .header .navbar{
        position: absolute;
        top:99%; left:0; right:0;
        background: #fff; 
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    
    }

    

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }


    .header .navbar a{
    display: block;
    font-size: 2.2rem;
    margin:0;
    padding:1.5rem 2rem;
         
    }

}

@media(max-width:450px){
    html{
        font-size:50%;
    }

    .header{
        padding:2rem;
    }
}